<div class="card mb-3 "  style=" cursor: pointer;">
    <div class="row no-gutters" id="cardsstyle" *ngFor = "let i of newData">
      

      <div class="col-md-8" id="listdiv">
        <div class="card-body" >
          
          <h4 class="card-title">App Name : {{i.applicationname}} </h4>
          <!-- <p class="card-text">Description </p>          -->
          
          <button class="btn btn-info" (click)="details(i)">Details </button>

        </div>
      </div>
    
    </div>
   
  </div>



 
 
<button class="button btn-info" 
(click)='abc()'>Show Applications</button>

