
<div class="card-body">
  <form class="needs-validation" novalidate [formGroup]="AllocateThing" (ngSubmit)="onFormSubmit()">
<div class="form-group col-6 .col-md-4" id="addform">
  <h3>Register Thing</h3>

<!-- <div class="form-group">
<label for="deviceName">Select Device:</label>
<ejs-dropdownlist id='ddlelement' #samples [dataSource]='data' [fields]='fields' [placeholder]='text' [popupHeight]='height' formControlName="deviceName" name="deviceName">
 
</ejs-dropdownlist>
</div> -->
<div class="form-group">
  <label for="deviceName">Select Device</label>
  <select class="dropdown"class="form-control"id="deviceName"formControlName="deviceName"#deviceName>
  <option selected>Select</option>
  <option *ngFor="let data of newArray">{{data}}</option>
  </select>
  
  </div>

<div class="form-group" style="margin-top: 25px">
<label for="applicationName">Enter Application</label>
<select class="dropdown"class="form-control"id="applicationName"formControlName="applicationName"#applicationName>
<option selected>Select</option>
<option *ngFor="let application of newData">{{application.applicationname}}</option>
</select>

</div>



<button class="btn btn-primary"type="submit" [disabled]="!AllocateThing.valid">Submit</button>
</div>
</form>
</div>